
<div class="container"></div>
 

<h1>Wendys Hamburger App</h1>

<h3>Watch what you eat</h3>

<!DOCTYPE html>
<html lang="en-us">

  <body>

    <div class="jumbotron">
      <h1 class="text-center">Burgers!</h1>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <p class="cool-font">Name</p>
          <input class="form-control" type="text" id="author" placeholder="Enter Your Name">
          <br>
          <p class="cool-font">Burger</p>
          <textarea class="form-control" rows="3" id="burgers-box" placeholder="Enter burgers Here!"></textarea>
          <button id="burgers-submit" class="btn btn-lg pull-right">Submit!</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>burgers</h2>
          <hr>
          <div id="burgers-area"></div>
        </div>
      </div>

    </div>

  <script type="text/javascript" src="js/burgers.js"></script>
  </body>
</html>



{{!-- <div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div> --}}


